/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general*/

body{
    font-family: 'Rubik Mono One', sans-serif;
}

/* Utilis */

img{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    display: block;
}

h1{
    color: yellow;
}



/* Main */

.full-page{
    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.card{
    height: 200px;
    width: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    position: fixed;

}

.menu ul{
    list-style: none;
}


.menu a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 20px;
    background-color: white;
    display: inline-block;
    text-align: center;
    
}


